@tailwind base;
@tailwind components;
@tailwind utilities;

.maplibregl-map, .maplibregl-canvas-container{
    height: 100%;
}

.left-0-i {
    left: 0 !important;
}

.transition-left {
    transition: left .5s ease-in-out;
}

.left-minus-full{
    left: -100%;
}

.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}